---
layout: default
title: Chenmu Zhang - Publications
description: Publication list of Chenmu Zhang - AI agents for materials science and first-principles electron transport.
---

<main class="container my-5">

  <div class="row justify-content-center">
  <div class="col-md-8">
    <h1 class="text-start display-2 my-4 pb-2">Publications</h1>
    <p class="fs-5">
      See also at
      <a href="https://scholar.google.com/citations?user=qBefT0cAAAAJ&hl=en" class="text-decoration-underline text-info" target="_blank">
        Google Scholar
      </a>:
    </p>

    <div class="fs-5 text-muted">
    {% for pub in site.data.publications %}
      <p>
        [{{ pub.number }}]
        {{ pub.authors }},
        {{ pub.title }}.
        <u>
          <a href="{{ pub.doi }}" class="text-decoration-none text-dark" target="_blank">
            {{ pub.journal }}{% if pub.volume != "" %} <b>{{ pub.volume }}</b>{% endif %}{% if pub.issue != "" %}({{ pub.issue }}){% endif %}{% if pub.pages != "" %}, {{ pub.pages }}{% endif %} ({{ pub.year }})
          </a>
        </u>
      </p>
    {% endfor %}
    </div>
  </div>
  </div>

</main>
